/* footer */

footer {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 20vh;

    grid-column: 1 / -1;
    grid-row: 4;

    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--background-color-3);
    border-top: 2rem solid darkslategray;
}

footer article {
    width: 15%;
}

footer i {
    padding-bottom: 1rem;
}

footer a span {
    display: block;
}

footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 900px) {
    footer {
        font-size: 0.8rem;
    }
}

@media (max-width: 650px) {
    footer {
        font-size: 0.65rem;
    }
}

@media (max-width: 450px) {
    footer {
        font-size: 0.45rem;
    }
}