
.non {
    display: flex;
    flex-direction: column;;
    align-items: center;

    width: 500px;
    padding: 0.5rem;
    border: 3px solid darkslategray;
    border-radius: 1rem;

    background-color: var(--background-color-4);
      
}

.non:hover {
    scale: 102%;
    transition: 0.2s ease-in-out;
}

.non__logo {
    height: 100px;
    width: fit-content;
    margin: 1.2rem 0 0.5rem 0;
    cursor: pointer;
}

.non__img {
    height: 300px;
    width: 450px;
    padding-top: 1rem;
    border-top: 3px solid black;
}


.non__text {
    width: 425px;
    padding: 1rem;
    margin: 2rem 0;

    line-height: 1.6rem;
    border-radius: 1rem;
    color: whitesmoke;
    background-color: var(--background-color-2);
}