.z_score__main {
    height: fit-content;
}


.z_score__heading {
    color: whitesmoke;
    margin: 0 auto;
    padding: 0.2rem 4rem;
    margin: 2rem auto;
    border: 3px solid darkslategray;
    background-color: var(--background-color-3);
}

.z_score__heading hr {
    margin: 0.5rem;
}

.z_score__heading  hr:last-of-type {
    width: 80%;
    margin: 0.5rem auto ;
}


.z_score__a {
    width: 500px;
    
}

.z_score__a:hover {
    scale: 102%;
    transition: 0.2s ease-in-out;
}


.z_score__img {
    width: 500px;
    border-radius: 1rem;
}

.z_score__points {
    width: 600px;
    
}

.z_score__detail {
    padding: 0.5rem 1rem;
    width: 80%;
    margin: 1.5rem;
    
    text-align: center;
    color: whitesmoke;
    box-shadow: 8px 7px 6px darkblue;
    border-radius: 1.5rem;
    background-color: rgb(0, 32, 191);
}

.z_score__desc {
    height: fit-content;
    width: 400px;
    padding: 2rem;
    margin-top: 1rem;

    

    border-radius: 5px;
    background-color: var(--background-color-4);
}

.z_score__text {
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
    margin: 0;

    font-size: 1.49rem;
    color: whitesmoke;
    border-radius: 5px;
    background-color: var(--background-color-2);
}

.z_score__text::first-letter {
    margin: 0.5rem;
    font-size: 3em;
    float: left;
    color: black;
}





