   .main__ourteam {
        height: fit-content;
    }
    
    .team__heading {
        color: whitesmoke;
        margin: 0 auto;
        padding: 0.2rem 4rem;
        margin: 2rem auto;
        border: 3px solid darkslategray;
        background-color: var(--background-color-3);
    }
    
    .team__heading hr {
        margin: 0.5rem;
    }
    
    .team__heading hr:last-of-type {
        width: 80%;
        margin: 0.5rem auto ;
    }
    
    .team__layout {
        display: grid;
        grid-template-columns: 21vw 21vw 21vw;
        grid-auto-rows: max-content;
        grid-template-rows: auto;
        justify-content: center;
        height: 100%;
    
    
        column-gap: 3rem;
        margin-bottom: 5rem;
    }


@media screen and (max-width: 1600px) {
    .team__layout {
        grid-template-columns: 25vw 25vw 25vw;
    }
}

@media screen and (max-width: 1500px) {
    .team__layout {
        grid-template-columns: 26vw 26vw 26vw;
    }
}

@media screen and (max-width: 1300px) {
    .team__layout {
        grid-template-columns: 28vw 28vw;
        row-gap: 3rem;
    }
}



@media screen and (max-width: 1200px) {
    .team__layout {
        grid-template-columns: 32vw 32vw;
    }
}


@media screen and (max-width: 1100px) {
    .team__layout {
        grid-template-columns: 35vw 35vw;
    }
}

@media screen and (max-width: 1000px) {
    .team__layout {
        grid-template-columns: 40vw 40vw;
    }
}

@media screen and (max-width: 880px) {
    .team__layout {
        grid-template-columns: 44vw 44vw;
    }
}