{% macro business_card(businesses) %}

    {% for business in businesses %}
    
    
<section class="business_card">
    
        {% if not business.info.sold %}
        <a class="business__link" target="_blank" href="{{ business.info.link }}">
        <img class="business_card__img" src="/static/images/business_listings/business_image_{{ business.info.id }}.png"/>
        </a>
        {% else %}
            <div class="business__sold"><p>SOLD</p></div>
        {% endif %}
    
        <h2 class="business__name">{{ business.info.name}}</h2>
    
    
        <p class="business_card__info">
        {{ business.info.business_desc }}----(<em class="info--em">click image for more details</em>)
        </p>
    
        <ul class="business_card__socials">
            <li>
                <a href="tel:19512377234">
                    <i class="material-icons card__icon  phone">phone</i>
                </a>
            </li>
            <li>
                <a href="mailto:curtis@ccochranconsulting.com">
                    <i class="material-icons card__icon email">email</i>
                </a>
            </li>
            
        </ul>
</section>

    
    
    {% endfor %}

{% endmacro %}