{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/our_company_mindset/ocm_main_content.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/body/main/e-square.css') }}">
{% endblock %}



{% block main_content %}
<main class="ocm__main">
    <section class="ocm__title js-scroll">
        <img class="title__logo" src="{{ url_for('static', filename='images/e4-logo.png') }}" alt="">
        <h1 class="title__h1">
            Mathlosophy
        </h1>
    </section>

    

    {% for number in range(4) %}
    <section class="ocm__e4" >

        <article class="strip left">
            <div class="sub-strip left">
                
                <img class="strip__img" src="/static/images/e_square/e{{ number + 1 }}.png" alt="e4 Mathlosophy logos">

            </div>
        </article>


        <article class="strip right">

                <p class="strip__text">
                    {% if number == 0 %}
                    Enter: Entrepreneurs considering Entering business ownership were previously known as
                    buyers. We now refer to them as Entering entrepreneurs because there are many effective
                    opportunities to become the owner of a business in addition to buying a business.
                
                    {% elif number == 1 %}
                    Evaluating: A successful Business Enhancement Plan
                    is the plan of action that accomplishes the needed objectives indicated in the 
                    Evaluation Report. Our Primary Business Consultant will lead in the design of 
                    this plan and monitor each step in the accomplishment of increased cash flow.
                
                    {% elif number == 2 %}
                    Enhancing:
                    Understand business value, 
                    present value of future earnings,                    Gross Revenue Multiplier
                    Capitalization of Excess Earnings,
                    and Fair Market Value

                    {% elif number == 3 %}
                    Exit: At some point, the owner of every business will consider 
                    an Exit Strategy to cash in on years of hard work and investment. 
                    If you have a current interest in Exiting your business, or 
                    considering maximizing the value of your business for a future 
                    Exit, this is an excellent time to make your move.
                
                    {% endif %}
                </p>

        </article>

    </section>
    {% endfor %}


    <section class="ocm__quotes">
    
            <section class="ocm__quote first">
            <hr>
                <p class="quote">
                    Our E4 Mathlosophy has a Culture that Empowers Leaders & Organizations. E4 Cultures Are Driven By Teams That
                    Create & Deliver Disruptive Solutions Fast While Embracing Learning & Continuous
                    Improvement.
                    </p>
                <hr>
            </section>
            <section class="ocm__quote">
                <hr>
                    <p class="quote">
                        This E4 Culture is the inner workings of 
                        making an E4 business strategy work. Which should
                        be the end goal of any business owner. Ready to improve your business? Look at our Products 
                        and services we offer below!
                        </p>
                    <hr>
            </section>
    </section>
        
    
    <article class="ocm__products ">

        <section class="products__backgrounds products__culture js-scroll--left">
            <h2 class="cultures__titles">LEARN OUR E4 CULTURE</h2>
            <article class="slide culture__slide">
                <section class="culture__text">
                    <ul class="culture__list">
                        <li class="a-list__item" >Embracing Change</li>
                        <li class="a-list__item" >Let Solutions Emerge</li>
                        <li class="a-list__item" >Deliver Solutions Fast & Frequently</li>
                        <li class="a-list__item" >Trust People to Get Things Done</li>
                        <li class="a-list__item" >Continuously Assess & Improve</li>
                    </ul>
                </section>

                <a class="slide__images red" target="_blank"  href="https://www.amazon.com/Winning-Culture-Game-Curtis-Cochran-ebook/dp/B08BW2PQ26/ref=sr_1_5?crid=1DFJDXK4VDGG9&keywords=dr+curtis+cochran&qid=1638732818&sprefix=dr+curtis+coch%2Caps%2C248&sr=8-5"><img  src="{{ url_for('static', filename='images/books/cc-book-5.png') }}" alt="Image of red book about winning the culture game in business"></a>
                

            </article>
        </section>
        <section class="products__backgrounds products__strategy js-scroll--right">
            <h2 class="strategy__titles">LEARN OUR E4 STRATEGY</h2>
           <article class="slide strategy__slide ">
                <a class="slide__images blue" target="_blank" href="https://www.amazon.com/Semantics-Mathematics-Business-Curtis-Cochran-ebook/dp/B08P659PYZ/ref=sr_1_1?dchild=1&keywords=dr.+curtis+c+cochran&qid=1614298475&sr=8-1"><img  src="{{ url_for('static', filename='images/books/cc-book-1.png') }}" alt="image of blue the semantics of math in business image"></a>
                <section class="strategy__text">
                    <p class="text__book_info">
                        Start & Exit a Business!
                    </p>
                    <ul class="strategy__list">
                        <li class="s-list__item" >
 
                            <em>"IMPACTFUL! A GAME CHANGER!"</em> 
                            -James Kiser, Longtime Helath Care CEO
                        </li>
                        <li class="s-list__item" class="s-list__item" >

                            <em>
                                "BEST BUSINESS BOOK I HAVE EVER READ I LOVE YOUR
                                4 CYCLES OF BUSINESS OWNERSHIP"
                            </em> - Bran Scheeler, Longtime Business Owner
                        </li>
                    </ul>
                </section>
           </article>
        </section>

    </article>


    <article class="ocm__company-mindset ">

        <section class="company-mindset__textblocks js-scroll--left">
            <p class="textblock p1">
                Do you have to own your own business in order for our wealth building system to work? 
                Yes! Unfortunately, many people are still being sucked in by the old conventional wisdom, 
                "Go to school, get good grades, get a good job, work hard and everything will be great." You 
                don't have to have two Doctorate Degrees (this would be me) to recognize that method doesn't work 
                and never has. Notice, 85% of the population never becomes financially independent. I have nothing 
                against having a job, but for most people, the acronym of J.O.B., "Just Over Broke," is spot on.
            </p>
        </section>
        <section class="company-mindset__textblocks js-scroll--right">
            <p class="textblock 2__p">
                There is a thin line between being an entrepreneur and a self-employed solopreneur. 
                To convert from being an overworked "solopreneur" into an entrepreneur with a viable exit plan, 
                you must first decide to change your mindset. You must make up your mind to cross that line. 
                You must firmly decide whether you want to continue to be an entrepreneur boss and a self-employed 
                slave to your own business, or whether you really want to exit with financial security.
            </p>
        </section>

    </article>

    <article class="ocm__cochran">

        <section class="cochran__image js-scroll--left">
            <div class="image__background">
                <img class="image"
                src="{{ url_for('static', filename='images/our_team/employee_image_1.png' ) }}"
                alt="Image of Dr Curtis C. Cochran in blue suit."
                >
            </div>
        </section>
        <section class="cochran__ethos js-scroll--right">
            <h2 class="ethos__title">Dr. Curtis C. Cochran</h2>
            <p class="ethos__textblock">Dr. Curtis Cochran is the founder of Cochran 
                Consulting LLC. He is also the creator of the 
                highly acclaimed OCC Team Executive Coaching Mentor 
                Program. He assists entrepreneurs in entering, evaluating, 
                enhancing, and exiting business ownership.
            </p>
        </section>
    </article>
</main>
{% endblock %}



{% block scripts %}
<script src="{{ url_for('static', filename='scripts/scrollRenderLogic.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/eSquare.js') }}"></script>
{% endblock %}



