{% extends "resources/resources_layout.html" %}

{% block resource_title %}
    Our Non - Profits
{% endblock %}

{% block resource %}
    <section class="non">
       <a href="https://www.futurecyclebreakers.org/"><img class="non__logo" src="/static/images/non_profits/non_profit_logo_2.png" alt="Future Cycle Breakers logo image"></a>
        <img class="non__img" src="/static/images/non_profits/non_profit_image_2.png" alt="">
        <p class="non__text">As President of the Board, I oversee all the operations for 
            Future Cycle Breakers. FCB's mission is to create 
            opportunities for generating wealth in underserved 
            communities by providing Entrepreneurial Readiness 
            Education. Click the picture below and visit our website.
        </p>

    </section>
    <section class="non">
        <a href="https://www.straighttalkcounseling.org/"> <img class="non__logo" src="/static/images/non_profits/non_profit_logo_1.png" alt="Straight Talk logo image"></a>
        <img class="non__img" src="/static/images/non_profits/non_profit_image_1.png" alt="">
        <p class="non__text">
            As President of the Board, I oversee all the operations for 
            Straight Talk. The mission of Straight Talk Counseling is to 
            make available a variety of mental health, substance abuse, 
            and rehabilitative services to individuals and families in need, 
            for whom access or utilization of such services is limited.
        </p>

    </section>


{% endblock %}