
.ocm__main {
    height: fit-content; 
    font-family: 'Times New Roman', Times, serif;
}



/* --------- FIRST SECTION TITLE --------- */

.ocm__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.title__h1 {
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    
}

.title__logo {
    width: 120px;
    height: 120px;
}



/* --------- SECOND SECTION E-logos--------- */

.ocm__e4 {
    display: flex;
    justify-content: space-between;
}

.strip {
    display:flex;
    flex-direction: row;
    align-items: center;

    height: 15vh;
    width: 47vw;
    margin: 1rem 0;


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    background-color: var(--background-color-2);
}

.strip.right {
    border-top-left-radius: 6rem;
    border-bottom-left-radius: 6rem;
    padding: 1.5rem 0 1.5rem 1.5rem;
    
    
}

.strip.left {
    border-top-right-radius: 6rem;
    border-bottom-right-radius: 6rem;
    
    padding: 1rem 1rem 1rem 0;
}

.sub-strip {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 90%;
    width: 100%;
    

    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;

    
    background-color: var(--background-color-2);

}

.strip__img {
    object-fit: contain;

    height: 135px;
    width: 135px;

    border-radius: 5rem;
    background-color: white;
}

.strip__text {
    width: 100%;
    padding: 1.8em;
    padding-left: 1.8rem;
    text-align: end;

    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;

    line-height: 1.5em;
    font-size: 1rem;
    background-color: var(--background-color-3);
}



/* --------- THIRD SECTION QUOTE -below --------- */

.ocm__quotes {
    height: fit-content;
    padding: 1.25rem;
}

.ocm__quote {
    height: fit-content;

    padding: 0.7rem 1rem;
    margin: 1rem 0 0 0;

    
    color: whitesmoke;
    border: 3px solid darkslategray;
    background-color: var(--background-color-3);

}

.quote {
    
    text-align: center;    
    font-size: 1rem;
}
hr {
    
    margin: 0;
}

/* --------- FOURTH SECTION PRODUCTS -below --------- */

.ocm__products {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
}

.products__backgrounds {
    height: 480px;
    width: 50vw;
}

.products__culture {
    margin-right: 1rem;

    
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 3px solid rgba(255, 0, 0, 0.568);

    background-color: rgba(255, 34, 0, 0.371);

}

.products__strategy {
    margin-left: 1rem;

    
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 3px solid rgba(0, 0, 255, 0.519);

    background-color: rgba(1, 200, 255, 0.42);
}

.slide {
    height: 70%;

}


.strategy__slide {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-left: 3rem;
    background-color: rgba(37, 171, 255, 0.787);
}

.culture__slide {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    
    background-color: rgba(255, 56, 56, 0.793);
}

.slide__images.blue {
    height: 90%;
    
    padding: 1rem 1rem;
    

    background-color: rgba(0, 0, 139, 0.855);

}

.slide__images {
    
    height: fit-content;
    width: fit-content;
}

.slide__images.red img {
    height: 90%;
    width: 90%;
}

.slide__images {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    background-color: darkred;
}

.slide__images:hover {
    scale: 105%;
    transition: 0.2s ease-in-out;
}


.culture__text {
    padding: 1rem;
    margin-left: 0.5rem;
}

.culture__list {
    padding: 0;
    list-style: none;
}

.a-list__item {
    padding: 0.3rem;
    margin: 10px;


    border-radius: 1rem;
    
    box-shadow: 5px 5px 5px darkred ;
    background-color: rgba(255, 0, 0, 0.915);
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
}




.strategy__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


    height: 100%;
    padding: 1rem;
    margin-right: 5rem;
}

.text__book_info {
    width: 20rem;
    padding: 0.5rem 2rem;
    margin: 0;
    
    line-height: 1.3em;
    box-shadow: 5px 5px 5px darkblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 1rem;
    background-color: rgba(0, 0, 255, 0.641);
    color: whitesmoke;
}


.strategy__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.s-list__item {
    margin: 1rem;
    text-align: left;
}

.s-list__item > em {
    
    font-weight: bold;
    font-size: 1.2rem;
    color: blue;
    
}

.s-list__item.pers {
    font-size: 1rem;
    color: aqua;
}

.s-list__item__last {
    font-size: 1em;
    color: black;
    font-weight: bold;
}



/* H2 TITLES */

.cultures__titles {
    margin-right: 3rem;
    text-align: end;
    
    
    color: red;
    border-bottom: 3px solid red;
}

.strategy__titles {
    margin-left: 3rem;

    
    text-align: start;
    color: blue;
    border-bottom: 3px solid blue;
}





/* --------- FIFTH SECTION TEXTBLOCKS -below --------- */

.ocm__company-mindset {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-mindset__textblocks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin: 0 1rem 1rem 1rem ;

    background-color: var(--background-color-2);
}

.textblock {
    padding: 1.6rem;
    width: 280px;
    height: 350px;
    
    line-height: 1.5rem;

    font-family: sans-serif;
    border-radius: 5px;
    background-color: var(--background-color-2);
    color: whitesmoke;
}

.textblock.p1::first-letter {
    float: left;
    margin: 0.4em;
    font-size: 3rem;
    color: var(--background-color-3);
}



/* --------- SIXTH SECTION COCHRAN -below --------- */


.ocm__cochran {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100vw;
    margin: 2rem 0;
}


 /* IMAGE -below */

.cochran__image {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 400px;
    width: 50vw;
    margin-right: 1rem;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    border: 3px solid darkslategray;
    background-color: var(--background-color-2);
}

.image__background {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    margin-right: 1rem;

    background-color: var(--background-color-2);
}
.image {
    padding: 1.5rem 2rem;   
    object-fit: contain;

    width: 350px;
    height: 300px;


    
    border-radius: 5px;
    background-color: var(--background-color-2);
}

/* ETHOS -below */

.cochran__ethos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50vw;
    
    margin: 0 0 0 1rem;
    
    font-family: 'Times New Roman', Times, serif;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 3px solid darkslategray;
    background-color: var(--background-color-2);
}

.ethos__title {
    position: relative;
    
    margin: 2rem 0 2rem 2rem;
    
    font-size: 35px;
    text-align: start;
    
    border-bottom: 3px solid var(--background-color-3);
}

.ethos__textblock {
    height: fit-content;
    

    padding: 1rem;
    margin: 0 0 0 2rem;
    

    font-size: 1.7em;
    line-height: 1.3em;
    font-family: sans-serif;
    color: whitesmoke;
    text-align: left;


    
    border-radius: 5px;
    background-color: var(--background-color-2);
}



/* --------------------------------------------- MEDIA QUERIES WIDTH -below------------------------------------------------- */

@media (max-width: 2000px) {

/* TITLE --- MEDIA QUERIES -below */

    .ocm__title {
        margin-bottom: 2rem;
    }

    .title__h1 {
        font-size: 5rem;
        font-family: 'Times New Roman', Times, serif;
        
    }
    
    .title__logo {
        width: 170px;
        height: 170px;
    }    

/* ESQUARE --- MEDIA QUERIES -below */

    #e-square.ocm{
        margin-right: 3rem;
        width: 40vw;
        height: 70vh;
    }

    #e-square.ocm h2{
        margin-top: 1.5rem;

        margin-bottom: 0;
        
        
    }

    #e-square.ocm img{
        width: 300px;
        height: 180px;
        
    }

/* PRODUCTS --- MEDIA QUERIES -below */

    .slide {
        height: 70%;
        width: 46.5vw;
    }

    .text__book_info {
        width: fit-content;

        font-size: 1.2rem;
    }
    
    .s-list__item {
        margin: 1rem;
        font-style: italic;
        font-size: 1.3rem;
        text-align: center;
    }

    .a-list__item {
        margin: 1.5rem 1rem;
    }
    
    .s-list__item em {
        font-weight: bold;
        font-size: 1.6rem;
        color: blue;
    }

 /* COCHRAN --- MEDIA QUERIES -below */
    
    .ethos__textblock {
        font-size: 2rem;
    }
 
/* TEXTBLOCKS --- MEDIA QUERIES -below */

.company-mindset__textblocks {
    height: 60vh;
    width: 35vw;
}

.textblock {
    width: 60%;
    height: 80%;

    line-height: 1.8rem;
    font-size: 1.4rem;
}

/* QUOTE --- MEDIA QUERIES -below */

.ocm__quotes {
    display: flex;
    justify-content: space-evenly;
   
}

.ocm__quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    width: 30%;
    height: 220px;
    
}

.ocm__quote hr {
    width: 80%;
}

.quote {
    width: 70%;
    padding: 1rem;

    line-height: 1.5em;
    font-size: 1.2em;
}


}

@media (max-width: 1900px) {

    /* ESQUARE --- MEDIA QUERIES -below */

    .strip {
        display:flex;
        flex-direction: row;
        align-items: center;
    
        height: 24vh;
        width: 47vw;
        margin: 1rem 0;
    
    
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: whitesmoke;
        background-color: var(--background-color-2);
    }
    
    


/* COCHRAN --- MEDIA QUERIES -below */

    .ethos__textblock {
        font-size: 1.68rem;
    }


/* TEXTBLOCKS --- MEDIA QUERIES -below */

.company-mindset__textblocks {
    height: 80vh;
    width: 40vw;
    

}

.textblock {
    width: 75%;
    height: 75%;

    line-height: 1.8rem;
    font-size: 1.2rem;
}

/* QUOTE --- MEDIA QUERIES -below */


    
}

@media (max-width: 1400px) {

    /* ESQUARE --- MEDIA QUERIES -below */
    #e-square.ocm{
        
        width: 48vw;
        height: 93vh;
    }

    #e-square.ocm h2{
        margin-top: 1rem;
        
    }

    
    #e-square.ocm li{
        font-size: 0.8em;
        
    }

    /* QUOTE --- MEDIA QUERIES -below */
    .ocm__quote {
        
        height: 260px;
        
    }
    
    
    

/* PRODUCTS --- MEDIA QUERIES -below */    

    .slide {
        height: 70%;
        width: 45vw;
    }
    
    .a-list__item {
    padding: 0.3rem;
    margin: 10px;


    border-radius: 1rem;
    
    box-shadow: 5px 5px 5px darkred ;
    background-color: rgba(255, 0, 0, 0.915);
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    }

    .strategy__text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;


        height: 100%;
        padding: 1rem;
        margin-right: 5rem;
    }

    .text__book_info {
        width: 18rem;
        padding: 0.5rem;
        margin: 1rem 0 0 0;
        
        box-shadow: 5px 5px 5px darkblue;
        
        line-height: 1.3em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.2em;
        text-align: center;

        border-radius: 1rem;
        background-color: blue;
        color: whitesmoke;
    }


    .strategy__list {
        margin: 0;
        padding: 0;

        list-style: none;
    }

    .s-list__item {
        margin: 1rem;
        text-align: left;
    }

    .s-list__item > em {
        
        font-weight: bold;
        font-size: 1rem;
        color: blue;
        
    }

    .s-list__item.pers {
        font-size: 1rem;
        color: aqua;
    }

    .s-list__item__last {
        font-size: 1em;
        color: black;
        font-weight: bold;
    }


   /* TEXTBLOCKS --- SECTION MEDIA QUERIES -below */

    .company-mindset__textblocks {
        height: 90vh;
        width: 60vw;
    

    }

    .textblock {
        width: 70%;
        height: 80%;

        line-height: 1.8rem;
        font-size: 1.2rem;
    }
    
    }

    @media (max-width: 1111px) {

        /* ESQUARE --- MEDIA QUERIES -below */
        #e-square.ocm{
            margin: 0;
            width: 55vw;
            height: 110vh;
        }

        #e-square.ocm h2{
            margin: 0;
            margin-top: 1.5rem;
        }

        /* COCHRAN --- MEDIA QUERIES -below */
        
            .ethos__textblock {
                font-size: 1.48rem;
            }
        
        
        /* TEXTBLOCKS --- MEDIA QUERIES -below */
        
        .company-mindset__textblocks {
            height: 65vh;
            width: 50vw;
            
        
        }
        
        .textblock {
            width: 75%;
            height: 80%;
        
            line-height: 1.8rem;
            font-size: 1.2rem;
        }
            
        }

@media (max-width: 1111px) {
    .company-mindset__textblocks {
        height: 95vh;
        width: 50vw;
        
    
    }

    .textblock {
        
        font-size: 1rem;
    }
}

/* --------------------------------------------- MEDIA QUERIES HEIGHT -below------------------------------------------------- */

@media (max-height: 500px) {
    .ocm__title {
        margin-top: 4rem;
    }

    /* ESQUARE --- MEDIA QUERIES -below */
    #e-square.ocm{
        margin: 0;
        width: 55vw;
        height: 125vh;
    }

    
    
}

